<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is a simple Flask application with a static folder.</p>
    <div class="image-frame">
  <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Framed Image">
    </div>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</body>
<footer>
    <p>&copy; 2023 Your Company</p>
</footer>
<script src="/static/js/script.js"></script>
</html>